<h1>What is Lunar Mansion?</h1>
<p>A blog for creatives who want to learn game development and hate compliated tutorials.</p>
<p>The blog focuses on the Unity Game Engine using the C# language. 


<h2>Why Unity?</h2>
<p>You can create games for:</p>
<ul>
  <li>iOS</li>
  <li>Android</li>
  <li>Windows Phone 8</li>
  <li>Windows Desktop</li>
  <li>Mac Desktop</li>
  <li>Playstation</li>
  <li>XBox</li>
  <li>Wii</li>
  <li>Oculus Rift</li>
  <li>Google Cardboard</li>
</ul>
<p>And so many others.. <strong>without learning a million programming languages!!</strong>
<br><a href="https://unity3d.com/unity">More information about Unity</a></p>

<h2>Who is behind this?</h2>
<p>My name is Rachel Momo Okimoto I enjoy programing and I enjoy making stuff and I enjoy helping people.</p>