@import 'config';

.header {
  border-bottom: 1px solid $lighter-grey;
  position: relative;
  margin-bottom: 20px;
}

.logo {
  height: 80px;
  width: 290px;
  background: url('logo.svg') center / cover;
  margin: 80px 0;
  display: inline-block;
}

.navbar {
  list-style: none;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.nav-item {
  display: inline-block;
  
  font-size: 1.5rem;
  margin-left: 12px;
  font-family: $font-family--wide;
  text-transform: uppercase;
  padding: 10px 12px;
  

  a {
    color: $medium-grey;
    text-decoration: none;
    transition: $transition--primary;
  }

}

.nav-item:hover a {
  color: #000;
  cursor: pointer;
}

.learn-nav {
  background: #000;
  border-radius: 10px;
  color: #fff;
}

.learn-nav:hover {
  color: #fff;
  background: $dark-grey;
}

.logged-in {
  position: absolute;
  top: 10px;
  right: 10px;

  img {
    width: 18px;
    height: 18px;
    vertical-align: top;
    margin-right: 3px;
  }

  // ul {
  //   list-style: none;

  //   li {
  //     display: inline-block;
  //     margin-left: 15px;

  //     ul {
  //       li {
  //         width: 100%;
  //         margin-left: 0;
  //       }
  //     }
  //   }

  // }
}