@import 'config';

.header {
  border-bottom: 1px solid $medium-grey;
  position: relative;
  margin-bottom: 40px;
}

.logo {
  height: 80px;
  width: 290px;
  background: url('logo.svg') center / cover;
  margin: 80px 0;
  display: inline-block;
}

.navbar {
  list-style: none;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.nav-item {
  display: inline-block;
  color: $medium-grey;
  font-size: 1.5rem;
  margin-left: 12px;
  font-family: $font-family--wide;
  text-transform: uppercase;
  padding: 10px 12px;
  transition: $transition--primary;
}

.nav-item:hover {
  color: #000;
  cursor: pointer;
}

.learn-nav {
  background: #000;
  border-radius: 10px;
  color: #fff;
}

.learn-nav:hover {
  color: #fff;
  background: $dark-grey;
}

.logged-in {
  position: absolute;
  top: 10px;
  right: 10px;

  img {
    width: 18px;
    height: 18px;
    vertical-align: top;
    margin-right: 3px;
  }

  ul {
    list-style: none;

    li {
      display: inline-block;
      margin-left: 15px;

      ul {
        li {
          width: 100%;
          margin-left: 0;
        }
      }
    }

  }
}


// .click-nav {margin:100px auto;width:200px;}
// .click-nav ul {position:relative;font-weight:900;}
.click-nav ul li {position:relative;list-style:none;cursor:pointer;}
.click-nav ul li ul {position:absolute;left:0;right:0; padding-left: 0}
.click-nav ul .clicker {position:relative; }
.click-nav ul .clicker:hover {background:$lighter-grey;}
.click-nav ul .clicker:hover,.click-nav ul .active {background:$lighter-grey;}
.click-nav img {position:absolute;top:9px;left:12px;}
.click-nav ul li a {transition:background-color 0.2s ease-in-out;-webkit-transition:background-color 0.2s ease-in-out;
-moz-transition:background-color 0.2s ease-in-out;display:block;padding:8px 10px 8px 40px;background:#FFF;color:#000;text-decoration:none;}
.click-nav ul li a:hover {background:$lighter-grey;}

// /* Fallbacks */
// .click-nav .no-js ul {display:none;}
// .click-nav .no-js:hover ul {display:block;}