// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'config';

.posts {
    // font-family: $font-family--primary;
}

.post-item {
  padding: 30px 0;
}

.post-item:hover {

  .post-title a {
    color: $dark-grey;
  }

  .hero-thumb:before {
    opacity: 1;
  }

}

.post-item:first-child {
  padding-top: 0;
}

.hero-column {
  padding: 0;
}

.hero-thumb {
  position: relative;
}

.hero-thumb:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.2);
  transition: $transition--primary;
  opacity: 0;
  z-index: 5;
}

.post-hero-wrapper {
  height: 300px;
  overflow: hidden;
  position: relative;
}

.post-hero {
  margin-bottom: 30px;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.post-title {
  font-family: $font-family--headers;
  font-size: 2.8rem;
  margin: 10px 0;

  a {
    color: #000;
    text-decoration: none;
    transition: $transition--primary;
  }

}

.post-date {
  color: $medium-grey;
  margin: 0;
  font-size: 1.4rem;
}

.post-categories {
  margin: 15px 0;

  a:hover {
    text-decoration: none;
    cursor: pointer;
  }
}

.category {
  padding: 6px 10px;
  color: white;
  background: #000;
  font-style: normal;
  text-transform: uppercase;
  cursor: pointer;
  opacity: .7;
}

.category:hover {
  opacity: 1;
}

.posts.show {
  .post-categories {
    margin: 26px 0 34px;
  }

  .post-date {
    margin: 16px 0;
  }

  .post-preview {
    font-size: 1.8rem;
    margin: 16px 0;
  }

  .post-title {
    margin: 0;
  }
}

.post-preview {
  font-size: 1.4rem;
  font-style: italic;
}

.post-body {
  font-size: 1.5rem;
}

.posts.show {
  .post-title {
    font-size: 4rem;
  }
}

.share {
  margin: 70px 0;
}



/*------------------
   Show Page
-------------------*/
.posts.show {
  p {
    font-size: 1.6rem;
    line-height: 1.6;
  }
}

/*------------------
   TAG CLOUD
-------------------*/
.tag_cloud {
  margin-bottom: 25px;

  ul {
    list-style: none;
    // padding-left: 40px;
    margin-top: 15px;
  }
  li {
    // text-transform: uppercase;
    font-size: 1.5rem;
    display: inline-block;
    width: 24%;
    margin-right: 1%;
  }
}

.sidebar-title {
  background: black;
  color: white;
  text-align: center;
  padding: 5px;
  text-transform: uppercase;
  margin-bottom: 10px;
  display: inline-block;
  width: 100%;
  text-decoration: none;
}

.sidebar-title:hover {
  opacity: .8;
  color: white;
  text-decoration: none;
}