@import 'config';

.center {
  text-align: center;
}

.share-label {
  text-transform: uppercase;
  font-family: $font-family--headers;
  font-size: 2rem;
}

.social-button {
  height: 35px;
  width: 35px;
  margin: 0 5px;
  cursor: pointer;
}